.header {
    background: linear-gradient(15deg, #805ad5, #ecc94b);
}

.bg {
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 10vh),
        24px 100%,
        0 100%,
        0 0
    );
}

.shrink {
    animation: growAndShrink 5000ms ease-in-out forwards;
}

.spin {
    animation: spin 5000ms ease-in forwards;
}

@keyframes growAndShrink {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
